set hostname "$HOSTNAME"
set net_port $LISTEN_PORT
set net_ip $LISTEN_IP
set sys_readstdin 0                             // allows qwfwd to run in background
set developer 0
set masters master.quakeservers.net:27000 qwmaster.ocrana.de:27000 master.quakeworld.nu:27000 qwmaster.fodquake.net:27000  $
set masters_heartbeat 1                         // allow sending heartbeats to masters (0=off, 1=enabled)
set masters_query 1                             // query the master server list (0=off, 1=enabled)
